<% provide(:title, "Entrar como administrador") %>
<h1>Entrar</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_admins_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= link_to "(Esqueci a senha)", new_password_reset_path(:user_type => "admin") %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me, checked: true %>
        <span>Mantenha-me conectado</span>
      <% end %>

      <%= f.submit "Entrar", class: "btn btn-primary" %>
    <% end %>

    <p>Ainda não tem informações para login? <%= link_to "Cadastre-se agora!", new_admin_path %></p>
  </div>
</div>
