<div class="center jumbotron">
  <h1>Bem vindo, <%= logged_in_as_admin? ? current_admin.name : (logged_in_as_student? ? current_student.name : "visitante!") %></h1>

<% if logged_in_as_admin? %>

  <h2>
    Cursos cadastrados: <%= @count_courses %><br>
    Estudantes cadastrados: <%= @count_students %>
  </h2>

  <p>
    Há duas formas de você, administrador, realizar a matrícula dos estudantes:
  </p>
  <div class="row">
    <a href="<%= students_path %>" class="col-md-3 col-md-offset-2 btn btn-md btn-primary">
      Através de cursos disponíveis <br>encontrados em seu perfil
    </a>
    <a href="<%= courses_path %>" class="col-md-3 col-md-offset-2 btn btn-md btn-primary">
      Através do perfil <br>do curso
    </a>
  </div>

<% elsif logged_in_as_student? %>

  <p>
    Quantidade de cursos matriculados: <%= link_to @count_courses, courses_student_path(current_student), class: "btn btn-info" %>
  </p>

<% else %>

  <h2>
    Esta é a página inicial do teste de proficiência.
  </h2>

  <%= link_to "Cadastrar-se como estudante", new_student_path, class: "btn btn-lg btn-primary" %>

<% end %>

</div>
