<div class="col-md-6" id="course-<%= course.id %>">
  <a class="title" href="<%=course_path(course)%>"><%= course.name %></a>
  <span class="description"><%= course.description %></span>
  <span class="timestamp">
    Criado hรก <%= time_ago_in_words(course.created_at) %>.
  </span>
  <% if logged_in_as_admin? %>
    <span>
      <%= link_to "Apagar", course, method: :delete, class: "description",
                                  data: { confirm: "Tem certeza?" } %>
    </span>
  <% elsif logged_in_as_student? %>
    <span>
      <%= link_to "Desmatricular", unregister_course_path(course), method: :delete, class: "description",
                                  data: { confirm: "Tem certeza?" } %>
    </span>
  <% end %>
</div>
